<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit Card Fraud Detection</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Credit Card Fraud Detection</h1>
    <form method="POST">
        {% for i in range(1,29) %}
        <label for="v{{i}}">V{{i}}:</label>
        <input type="number" step="any" name="v{{i}}" required><br>
        {% endfor %}
        <label for="Amount">Amount:</label>
        <input type="number" step="any" name="Amount" required><br>

        <label for="Time">Time:</label>
        <input type="number" step="any" name="Time" required><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction is not none %}
    <h2>Prediction: {{ 'Fraudulent Transaction' if prediction == 1 else 'Legitimate Transaction' }}</h2>
    {% endif %}
</body>
</html>
